.min-h-screen {
  min-height: calc(100vh - 80px);
}

.min-w-screen {
  min-width: 100vw;
}

.bg-primary {
  color: #cd0dfd;
}

.nav-link.hoverable:hover {
  background-color: #cd0dfd !important;
  color: white;
}

.navbar-brand {
  height: 60px;
  width: 180px;
  background-position: center;
  background-size: cover;
}

.image-landing {
  width: 100%;
  height: 450px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.cursor-pointer {
  cursor: pointer;
}

#toggle-aside {
  margin-left: 12px !important;
  display: none;
}

#toggle-aside.active {
  display: block !important;
  position: absolute;
  bottom: 20px;
}

aside .aside-content {
  width: 250px;
  transition: 0.3s ease;
}

aside .aside-content.active {
  width: 80px;
}

aside .aside-content.active .nav span.menu-aside {
  display: none;
  font-size: 10px;
  white-space: nowrap;
}

@keyframes text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
